#banner{
  @include Flexible(center, center, row, wrap, 0);
  font-family: $Base_Font;
  padding: 60px 0;

  .banner-essentials{
    @include Flexible(center, center, column, wrap, 0);
    .top-tag-inner{
      @include Flexible(center, center, row, wrap, 0);
      grid-column-gap: 8px;
      grid-row-gap: 8px;
      color: #0c0407;
      text-align: left;
      letter-spacing: -.04em;
      text-transform: uppercase;
      background-color: #f7f7f7;
      border: 2px solid #e8e8e8;
      border-radius: 28px;
      justify-content: center;
      align-items: center;
      padding: 6px 18px 6px 16px;
      font-weight: 500;
      display: inline-flex


    }
    .banner-title{
      @include Flexible(center, center, row, wrap, 0);
      margin: 20px 0;  
      h1{
        letter-spacing: -.08em;
        text-transform: uppercase;
        font-size: 200px;
        line-height: 1.1;
        color: #0c0407;
      }
    }

    .banner-image{
    opacity: 1;
    transform: translate3d(0px, -41.806px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    img{
      width: 100%;
    max-width: 1500px;
    }
    }
  }
}



@media (max-width: 1200px) {
  .banner-title h1 {
    font-size: 150px; 
  }
}

@media (max-width: 768px) {
  .banner-title h1 {
    font-size: 100px; // Adjust for tablets
  }
}

@media (max-width: 480px) {
  .banner-title h1 {
    font-size: 60px; // Adjust for mobile screens
  }
}