@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  font-family: "Inter", sans-serif;
  padding: 20px 0;
}
#navbar .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
}
#navbar .nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  width: 100%;
}
#navbar .nav-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
#navbar .nav-menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px;
  list-style: none;
}
#navbar .nav-menu ul li a {
  text-decoration: none;
  color: #0c0407;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}
#navbar .explore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
}
#navbar .explore button {
  color: rgb(255, 255, 255);
  border-color: rgb(12, 4, 7);
  z-index: 1;
  background-color: black;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 16px 28px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  font-family: "Inter", sans-serif;
  padding: 60px 0;
}
#banner .banner-essentials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
}
#banner .banner-essentials .top-tag-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #0c0407;
  text-align: left;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  background-color: #f7f7f7;
  border: 2px solid #e8e8e8;
  border-radius: 28px;
  justify-content: center;
  align-items: center;
  padding: 6px 18px 6px 16px;
  font-weight: 500;
  display: inline-flex;
}
#banner .banner-essentials .banner-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  margin: 20px 0;
}
#banner .banner-essentials .banner-title h1 {
  letter-spacing: -0.08em;
  text-transform: uppercase;
  font-size: 200px;
  line-height: 1.1;
  color: #0c0407;
}
#banner .banner-essentials .banner-image {
  opacity: 1;
  transform: translate3d(0px, -41.806px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  will-change: transform;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
#banner .banner-essentials .banner-image img {
  width: 100%;
  max-width: 1500px;
}

@media (max-width: 1200px) {
  .banner-title h1 {
    font-size: 150px;
  }
}
@media (max-width: 768px) {
  .banner-title h1 {
    font-size: 100px;
  }
}
@media (max-width: 480px) {
  .banner-title h1 {
    font-size: 60px;
  }
}
#featured-properties {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  font-family: "Inter", sans-serif;
  padding: 60px 0;
}
#featured-properties .top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  margin: 10px 0;
}
#featured-properties .top-text .top-tag-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  background-color: #f7f7f7;
  border: 2px solid #e8e8e8;
  border-radius: 28px;
  height: 40px;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.5;
  display: inline-flex;
}
#featured-properties .top-text h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 112%;
  letter-spacing: -0.3px;
  color: black;
}
#featured-properties .blog {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  max-width: 403px;
  min-height: 450px;
}
#featured-properties .blog .blog-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  position: relative;
  width: 393px;
  height: 306px;
  overflow: hidden;
  border-radius: 17px;
  transition: 0.5s ease-in-out;
}
#featured-properties .blog .blog-img-box .all {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#featured-properties .blog .blog-img-box .all .transactions {
  text-align: left;
  background-color: #fff;
  border-radius: 28px;
  padding: 4px 12px;
}
#featured-properties .blog .blog-img-box .all .transactions h2 {
  font-size: 14px;
  color: #000000;
  margin: 0;
  letter-spacing: -0.1px;
  font-weight: 500;
  line-height: 150%;
}
#featured-properties .blog .blog-img-box .all .price {
  text-align: right;
  background-color: #fff;
  border-radius: 28px;
  padding: 4px 12px;
}
#featured-properties .blog .blog-img-box .all .price h2 {
  font-size: 14px;
  color: #000000;
  margin: 0;
}
#featured-properties .blog .blog-img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}
#featured-properties .blog .blog-img-box:hover img {
  transform: scale(1.08);
}
#featured-properties .blog .name {
  padding-top: 10px;
  margin: 0;
}
#featured-properties .blog .name h3 {
  color: black;
  letter-spacing: 0;
  font-size: 24px;
  font-weight: 400;
}
#featured-properties .blog .location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
#featured-properties .blog .location i {
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 1;
}
#featured-properties .blog .location h3 {
  color: #14161c;
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 1;
}
#featured-properties .blog .details {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 20px 3px;
}
#featured-properties .blog .details .size, #featured-properties .blog .details .rooms, #featured-properties .blog .details .bathroom, #featured-properties .blog .details .garage {
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid #efefef;
  border-radius: 6px;
  padding: 6.5px 16px;
}
#featured-properties .blog .details .size i, #featured-properties .blog .details .size h3, #featured-properties .blog .details .rooms i, #featured-properties .blog .details .rooms h3, #featured-properties .blog .details .bathroom i, #featured-properties .blog .details .bathroom h3, #featured-properties .blog .details .garage i, #featured-properties .blog .details .garage h3 {
  font-size: 14px;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

#ideal-way {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  font-family: "Inter", sans-serif;
  padding: 60px 0;
}
#ideal-way .ideal-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
}
#ideal-way .ideal-left .about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  background-color: #f7f7f7;
  border: 2px solid #e8e8e8;
  border-radius: 28px;
  height: 40px;
  margin-bottom: 16px;
  padding: 8px 16px;
  display: inline-flex;
}
#ideal-way .ideal-left .about h2 {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}
#ideal-way .ideal-left .ideal-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  margin-bottom: 140px;
}
#ideal-way .ideal-left .ideal-name h1 {
  color: black;
  letter-spacing: -0.3px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 112%;
}
#ideal-way .ideal-left .ideal-parag p {
  letter-spacing: -0.1px;
  font-size: 14px;
  line-height: 150%;
}
#ideal-way .ideal-left .ideal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  margin-top: 20px;
}
#ideal-way .ideal-left .ideal-btn button {
  z-index: 1;
  background-color: black;
  border-color: black;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 16px 28px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}
#ideal-way .ideal-left .ideal-btn button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#ideal-way .ideal-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  height: 450px;
  border-radius: 24px;
  max-width: 540px;
  display: block;
  overflow: hidden;
}
#ideal-way .ideal-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#categories-properties {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  font-family: "Inter", sans-serif;
  padding: 60px 0;
}
#categories-properties .top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  margin: 10px 0;
}
#categories-properties .top-text .top-tag-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  background-color: #f7f7f7;
  border: 2px solid #e8e8e8;
  border-radius: 28px;
  height: 40px;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.5;
  display: inline-flex;
}
#categories-properties .top-text h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 52px;
  font-weight: 600;
  line-height: 112%;
  letter-spacing: -0.3px;
  color: black;
}
#categories-properties .categories {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  max-width: 403px;
  min-height: 450px;
}
#categories-properties .categories .categories-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  position: relative;
  width: 393px;
  height: 306px;
  overflow: hidden;
  border-radius: 17px;
  transition: 0.5s ease-in-out;
}
#categories-properties .categories .categories-img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}
#categories-properties .categories .categories-img-box:hover img {
  transform: scale(1.08);
}
#categories-properties .categories .name {
  padding-top: 10px;
  margin: 0;
}
#categories-properties .categories .name h3 {
  color: black;
  letter-spacing: 0;
  font-size: 24px;
  font-weight: 400;
}
#categories-properties .categories .paragraph p {
  max-width: 400px;
}
#categories-properties .categories .categories-btn {
  color: black;
  letter-spacing: -0.1px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 12px 16px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 112%;
}
#categories-properties .categories .categories-btn a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  font-family: "Inter", sans-serif;
  padding: 60px 0;
  position: relative;
}
#numbers .top-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  margin: 10px 0;
  position: sticky;
  top: 20px;
}
#numbers .top-text .top-tag-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  background-color: #f7f7f7;
  border: 2px solid #e8e8e8;
  border-radius: 28px;
  height: 40px;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.5;
  display: inline-flex;
}
#numbers .top-text h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 52px;
  font-weight: 600;
  line-height: 112%;
  letter-spacing: -0.3px;
  color: black;
}
#numbers .top-text .ideal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  margin-top: 20px;
}
#numbers .top-text .ideal-btn button {
  z-index: 1;
  background-color: black;
  border-color: black;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 16px 28px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}
#numbers .top-text .ideal-btn button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#numbers .numbers .number-card {
  margin-bottom: 20px;
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  padding: 25px 15px 25px 24px;
}
#numbers .numbers .number-card .head h2 {
  letter-spacing: -0.3px;
  font-size: 36px;
  line-height: 120%;
  font-weight: 600;
}
#numbers .numbers .number-card .bot p {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}
#numbers .numbers .number-card .paragraph {
  margin-top: 50px;
}
#numbers .numbers .number-card .paragraph p {
  letter-spacing: -0.1px;
  font-size: 14px;
  line-height: 150%;
}

#process {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  font-family: "Inter", sans-serif;
  padding: 60px 0;
  position: relative;
}
#process .top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  margin: 40px 0;
}
#process .top-text .top-tag-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  background-color: #f7f7f7;
  border: 2px solid #e8e8e8;
  border-radius: 28px;
  height: 40px;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.5;
  display: inline-flex;
}
#process .top-text h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 52px;
  font-weight: 600;
  line-height: 112%;
  letter-spacing: -0.3px;
  color: black;
}
#process .top-text .ideal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  margin-top: 20px;
}
#process .top-text .ideal-btn button {
  z-index: 1;
  background-color: black;
  border-color: black;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 16px 28px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}
#process .top-text .ideal-btn button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#process .process-left .full {
  margin-bottom: 140px;
}
#process .process-left .full .top-tag-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  background-color: #f7f7f7;
  border: 2px solid #e8e8e8;
  border-radius: 28px;
  height: 40px;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.5;
  display: inline-flex;
}
#process .process-left .full .name h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 600;
  line-height: 112%;
  letter-spacing: -0.3px;
  color: black;
}
#process .process-left .full .paragraph p {
  letter-spacing: -0.1px;
  font-size: 14px;
  line-height: 150%;
}

.process-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  top: 20px;
  position: sticky;
}
.process-right .img-box {
  width: 540px;
  height: 450px;
  overflow: hidden;
  border-radius: 20px;
}
.process-right .img-box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#staffswiper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  font-family: "Inter", sans-serif;
  padding: 60px 0;
}
#staffswiper .top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  margin: 40px 0;
}
#staffswiper .top-text .top-tag-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  background-color: #f7f7f7;
  border: 2px solid #e8e8e8;
  border-radius: 28px;
  height: 40px;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.5;
  display: inline-flex;
}
#staffswiper .top-text h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 52px;
  font-weight: 600;
  line-height: 112%;
  letter-spacing: -0.3px;
  color: black;
}
#staffswiper .top-text .ideal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  margin-top: 20px;
}
#staffswiper .top-text .ideal-btn button {
  z-index: 1;
  background-color: black;
  border-color: black;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 16px 28px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}
#staffswiper .top-text .ideal-btn button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#staffswiper .swiper {
  width: 100%;
  height: 100%;
}
#staffswiper .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  font-size: 18px;
  background: #fff;
  border-radius: 20px 20px 0px 0px;
  height: auto;
  overflow: hidden;
}
#staffswiper .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 390px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
#staffswiper .swiper .swiper-wrapper .swiper-slide .intro {
  padding: 15px 0;
}
#staffswiper .swiper .swiper-wrapper .swiper-slide .intro h1 {
  font-size: 24px;
  line-height: 112%;
  font-weight: 600;
  color: black;
}
#staffswiper .swiper .swiper-wrapper .swiper-slide .intro p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #333;
}

#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  font-family: "Inter", sans-serif;
  padding: 60px 0;
}
#testimonials .top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  margin: 40px 0;
}
#testimonials .top-text .top-tag-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  background-color: #f7f7f7;
  border: 2px solid #e8e8e8;
  border-radius: 28px;
  text-align: center;
  height: 40px;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.5;
}
#testimonials .top-text h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 52px;
  font-weight: 600;
  line-height: 112%;
  letter-spacing: -0.3px;
  color: black;
}
#testimonials .top-text .ideal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  margin-top: 20px;
}
#testimonials .top-text .ideal-btn button {
  z-index: 1;
  background-color: black;
  border-color: black;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 16px 28px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}
#testimonials .top-text .ideal-btn button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#testimonials .swiper {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s ease-in-out;
}
#testimonials .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  height: 340px;
  width: 820px;
  font-size: 18px;
  background: #fff;
  border: 0.74px solid #e8e8e8;
  border-radius: 28px;
  justify-content: space-between;
  align-items: center;
  padding: 60px 60px 40px;
  display: flex;
  box-shadow: 0 32px 96px -28px rgba(0, 0, 0, 0.1215686275);
  transition: transform 0.3s ease-in-out;
}
#testimonials .swiper .swiper-slide .left-side {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  max-width: 500px;
}
#testimonials .swiper .swiper-slide .left-side .head-text h2 {
  letter-spacing: 0;
  font-size: 24px;
  color: #0c0407;
  font-weight: 600;
  line-height: 112%;
}
#testimonials .swiper .swiper-slide .left-side .paragraph p {
  letter-spacing: -0.01em;
  font-size: 14px;
  line-height: 150%;
}
#testimonials .swiper .swiper-slide .left-side .personal-details {
  margin-top: 15px;
}
#testimonials .swiper .swiper-slide .left-side .personal-details h2 {
  letter-spacing: 0;
  font-size: 24px;
  color: #0c0407;
  font-weight: 600;
  line-height: 112%;
}
#testimonials .swiper .swiper-slide .left-side .personal-details p {
  letter-spacing: -0.01em;
  font-size: 16px;
}
#testimonials .swiper .swiper-slide .right-side .img-box {
  width: 172px;
  height: 216px;
  overflow: hidden;
  border-radius: 20px;
}
#testimonials .swiper .swiper-slide .right-side .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#testimonials .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#testimonials .swiper-container-wrapper {
  position: relative;
}
#testimonials .swiper-navigation-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#testimonials .swiper-button-prev,
#testimonials .swiper-button-next {
  position: relative;
  margin: 0px 20px;
  background-color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10; /* Keep above other elements */
  color: #b3b3b3;
  border: 1px solid #ccc;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}
#testimonials .swiper-button-prev::after,
#testimonials .swiper-button-next::after {
  font-size: 16px;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */